<main>

    <!-- Хедер-->
    <nav class="navbar">
        <h1 class="navbar-brand">
            <span class="blue-text">Гео</span> Розрахунок
        </h1>
        <div class="navbar-description-wrapper">
            <h2 class="navbar-main-description">
                Гео Розрахунок — <span class="navbar-semi-bold-white">це зручний інструмент</span>
            </h2>
            <h3 class="navbar-secondary-description">
                Для проведення розрахунків фізичних властивостей гірських порід у нафтовій і газовій промисловості
            </h3>
        </div>
    </nav>
    <!-- / Хедер-->

    <div class="container">
        <!-- Ліве меню -->
        <nav class="side-menu">
           <ul class="nav">
               @for (item of menuItems; track i; let i = $index) {
                   <li class="nav-item" [class.nav-active]="activeTab === item.id" (click)="setActiveTab(item.id)">
                       <a class="nav-link">
                           <i class="nav-icon" [ngClass]="item.image"></i>
                           <span class="menu-title">{{item.title}}</span>
                       </a>
                   </li>
               }
           </ul>
        </nav>
        <!-- / Ліве меню -->

        <!-- Компоненти -->
        <div class="container">
            @switch (activeTab) {
                @case (appComponents.gas) {
                    <app-gas></app-gas>
                }
                @case (appComponents.press) {
                    <h1 class="navbar-semi-bold-white">pressure</h1>
                }
                @case (appComponents.centrifuge) {
                    <h1 class="navbar-semi-bold-white">centrifuge</h1>
                }
                @case (appComponents.resistant) {
                    <h1 class="navbar-semi-bold-white">resistant</h1>
                }
                @case (appComponents.pores) {
                    <h1 class="navbar-semi-bold-white">pores</h1>
                }
                @case (appComponents.volume) {
                    <h1 class="navbar-semi-bold-white">volume</h1>
                }
                @case (appComponents.density) {
                    <h1 class="navbar-semi-bold-white">density</h1>
                }
                @case (appComponents.carbon) {
                    <h1 class="navbar-semi-bold-white">carbon</h1>
                }
                @case (appComponents.oil) {
                    <h1 class="navbar-semi-bold-white">oil</h1>
                }
                @case (appComponents.organic) {
                    <h1 class="navbar-semi-bold-white">organic</h1>
                }
                @case (appComponents.wax) {
                    <h1 class="navbar-semi-bold-white">wax</h1>
                }
            }
        </div>
        <!-- / Компоненти -->
    </div>
</main>


<router-outlet />
