:root {
    --bs-bg: #1f2127;
    --bs-card-bg: #252730;
    --bs-dark: #191B20;
    --bs-blue: #4360ed;
    --bs-blue-darken: #3A61F6;
    --bs-gray: #808191;
    --bs-white: #fff;
    --bs-left-menu-width: 350px;
    --bs-gap: 25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
    text-shadow: none;
    margin: 0;
}

[type=button]:focus,
a:active,
a:focus,
a:visited,
button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
select::-moz-focus-inner {
    outline: 0
}

input,
.form-control:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    box-shadow: none;
    outline: transparent none 0;
}

textarea {
    resize: none;
    overflow-x: hidden;
}

.btn,
.btn-group.open .dropdown-toggle,
.btn:active,
.btn:focus,
.btn:hover,
.btn:visited,
a,
a:active,
a:checked,
a:focus,
a:hover,
a:visited,
body,
button,
button:active,
button:hover,
button:visited,
div,
input,
input:active,
input:focus,
input:hover,
input:visited,
select,
select:active,
select:focus,
select:visited,
textarea,
textarea:active,
textarea:focus,
textarea:hover,
textarea:visited {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button,
button:active,
button:checked,
button:focus,
button:hover,
button:visited {
    outline: 0;
    outline-offset: 0
}

a:focus,
input:focus {
    border-color: transparent;
    outline: none
}

html {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: var(--bs-bg);
    font-size: 1rem;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

.blue-text {
    color: var(--bs-blue);
}

/* Grid */

.row {
    display: flex;
    gap: var(--bs-gap);
    padding: var(--bs-gap);
}

.col-50 {
    width: 50%;
}

.card {
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    color: var(--bs-gray);
    background-color: var(--bs-card-bg)
}

/* Icons */

.bg-carbon {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -10px -10px;
}


.bg-centrifuge {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -158px -10px;
}


.bg-c_organic {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -10px -158px;
}


.bg-density {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -158px -158px;
}


.bg-gas {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -306px -10px;
}


.bg-pores {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -306px -158px;
}


.bg-oil {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -10px -306px;
}


.bg-press {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -158px -306px;
}


.bg-resistant {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -306px -306px;
}


.bg-volume {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -454px -10px;
}


.bg-wax {
    width: 128px; height: 128px;
    background: url('assets/css_sprites.png') -454px -158px;
}
